<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Movie Informations</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="movie">
    <img src="http://image.tmdb.org/t/p/w500{{movie?.poster_path}}" />
    <ion-card-content class="dark text-light">
      <ion-card-title class="text-light">{{movie?.title}}</ion-card-title>
      <ion-list no-lines><b>Genre : </b><ion-badge class="tag" *ngFor="let genre of movie.genres">{{genre.name}}</ion-badge></ion-list>
      <b>Synopsis :</b><p>{{movie?.overview}}</p>
      <ion-list no-lines><b>Origin : </b><ion-badge class="tag" color="favorite" *ngFor="let production of movie.production_countries">{{production?.name}}</ion-badge></ion-list>
      <b>Date : </b><span [innerHTML]="movie?.release_date | date:'yMMMMd'"></span>

      <ion-fab padding top left>
        <button ion-fab mini><ion-icon name="share"></ion-icon></button>
        <ion-fab-list padding side="right">
          <button ion-fab (click)="share('facebook')"><ion-icon name="logo-facebook"></ion-icon></button>
          <button ion-fab (click)="share('twiiter')"><ion-icon name="logo-twitter"></ion-icon></button>
          <button ion-fab (click)="share('googleplus')"><ion-icon name="logo-googleplus"></ion-icon></button>
        </ion-fab-list>
      </ion-fab>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-list-header><h1>Similar Movies</h1></ion-list-header>
    <ion-item *ngFor="let similar of similars" (click)="loadOtherMovie(similar.id)">
      <ion-thumbnail item-left>
        <img src="http://image.tmdb.org/t/p/w500{{similar?.poster_path}}">
      </ion-thumbnail>
      <h2>{{similar?.title}}</h2>
      <p>{{similar?.release_date| date:'yyyy'}} <ion-icon name="calendar"></ion-icon></p>
      <p>{{similar?.vote_average}} <ion-icon name="star"></ion-icon></p>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
