<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>CineIonic</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="dark">
    <ion-list no-lines>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" color="secondary" class="nav-link center">
        <ion-icon name="{{p.icon}}"></ion-icon> {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
