// http://ionicframework.com/docs/v2/theming/


// Global CSS
// --------------------------------------------------
// Put CSS rules here that you want to apply globally.
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
//
// App Shared Sass variables belong in app.variables.scss.

.dark {
  background-color: #11171c!important;
}
.nav-link {
  font-size: 2em!important;
  font-weight: 500!important;
}
.text-light {
  color:#fff!important;
}
.icon-add {
  color : #cc4d4d;
  font-size:200%!important;
}
.center {
  text-align:center;
  margin:0 auto;
  padding: 0 auto;
}
