<ion-header>
  <ion-navbar color='primary'>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Movies</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-searchbar
    color="primary"
    placeholder="Search"
    (ionInput)="onSearchInput($event)">
  </ion-searchbar>

  <ion-list>
    <ion-list-header><h1>Popular Movies</h1></ion-list-header>
    <ion-item *ngFor="let movie of movies">
      <ion-thumbnail item-left (click)="loadInfoMovie(movie.id)">
        <img src="http://image.tmdb.org/t/p/w500{{movie?.poster_path}}">
      </ion-thumbnail>
      <div (click)="loadInfoMovie(movie.id)">
        <h2>{{movie?.title}}</h2>
        <p>{{movie?.release_date| date:'yyyy'}} <ion-icon name="calendar"></ion-icon></p>
        <p>{{movie?.vote_average}} <ion-icon name="star"></ion-icon></p>
      </div>
      <ion-icon class="icon-add" name="add" item-right (click)="addMovie(movie.id)"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
